.modal-icons__svg {
  width: 30px;
  height: 30px;

  color: #000;

  transition: color 250ms var(--cubic-bezier-easing);
}

.modal-icons__container {
  display: flex;
  justify-content: flex-end;
}

.modal-icons__button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;

  border: none;
  background: none;
}

.modal-icons__svg:hover {
  color: var(--main-blue-color);
}
