.modal-icons {
  display: flex;
  justify-content: flex-end;
}

.modal-icons__svg {
  width: 18px;
  height: 18px;

  color: #000;

  transition: color 250ms var(--cubic-bezier-easing);
}

.modal-icons__button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: 30px;

  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  overflow: hidden;
}

.modal-icons__button:hover .modal-icons__svg {
  color: var(--main-blue-color);
}
